.App {
  text-align: center;
}

.board {
  height: 400px;
  max-width: 400px;
  border: 1px solid black;
  margin: auto;
  background-color: rgb(218, 249, 255);
  display: flex;
  flex-direction: column;
}

.col {
  width: 10%;
}

.row {
  height: 10%;
  width: 100%;
  display: flex;
}

.square {
  height: 100%;
  width: 10%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turtle {
  font-size: 24px;
}

.apple {
  font-size: 20px;
}

button {
  width: 60px;
  min-height: 30px;
}
